@{
    ViewData["Title"] = "Home Page";
}

<!-- Main Content -->
<section id="services" class="main-section" style="background-image: url('@Url.Content("~/backgrBanner.jpg")'); background-repeat: repeat">
    <p style="background-color: white; padding: 5px; display: inline-block">Empowering you with the tools to enhance your English proficiency</p>

    <div class="service-container" >
        <div class="service-item" >
            <h2>Dictionary Access</h2>
            <p>Expand your vocabulary and improve your language skills.</p>
        </div>
        <div class="service-item">
            <h2>File Upload</h2>
            <p>Easily upload and store your language learning materials.</p>
        </div>
        <div class="service-item">
            <h2>File Sharing</h2>
            <p>Collaborate with other users by sharing language resources.</p>
        </div>
    </div>
</section>